API_PORT=8000

DATABASE_URL=postgresql://postgres:password@db:5432/authdb

JWT_PRIVATE_KEY_PATH=keys/private.pem
JWT_PUBLIC_KEY_PATH=keys/public.pem

DB_USER=postgres
DB_PASSWORD=password
DB_NAME=authdb